<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Job Search</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <header>
      <h1>Job Search</h1>
      <h2>Scrapping jobs up to 10 pages</h2>
      <h3>Based stackoverflow • weworkremotely • remoteok</h3>
    </header>
    <main>
      <form action="/report" method="GET">
        <input
          type="text"
          placeholder="Search for a job"
          required
          name="word"
        />
        <button type="submit">Search</button>
      </form>
    </main>
  </body>
</html>
